<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>form create</h1>
<a href="/">back</a>
<p>
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<form method="post" action="/create">
    <input type="text" name="name">
    <span>name</span>
    <input type="text" name="price">
    <span>Price</span>
    <input type="text" name="description">
    <span>Desc</span>
    <button>Create</button>
</form>
</body>
</html>